.details_container {
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product_image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.product_details {
  padding: 20px;
  background-color: #272727;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.product_details h2 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 15px;
}

.price {
  color: #ff6c00;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;
}

.buy_btn {
  background-color: #ff6c00;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.buy_btn:hover {
  background-color: #ce5600;
}

.edit_delete_btns {
  text-align: center;
  margin-top: 20px;
}

.edit_delete_btns button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.edit_delete_btns button:hover {
  background-color: #0056b3;
}
